# FastAPI and dependencies
fastapi==0.78.0
uvicorn==0.18.2
pydantic==1.9.1
starlette==0.19.1
python-multipart==0.0.5
anyio==3.6.1
h11==0.13.0
idna==3.3
sniffio==1.2.0

# Dependency Injection
dependency-injector==4.39.1

# Image processing
opencv-python==4.8.0.74
numpy==1.24.0

# Configuration management
omegaconf==2.3.0
PyYAML==6.0

# Optional (for requests or web scraping, if needed)
requests~=2.28.1

# Testing and linting
pytest==7.4.0
pytest-httpserver==1.0.8
pytest-cov==4.1.0
flake8==7.1.0
flake8-bandit==4.1.1
flake8-broken-line==1.0.0
flake8-bugbear==23.12.2
flake8-commas==2.1.0
flake8-comprehensions==3.15.0
flake8-debugger==4.1.2
flake8-docstrings==1.7.0
flake8-eradicate==1.5.0
flake8-isort==6.1.1
flake8-quotes==3.4.0
flake8-rst-docstrings==0.3.0
flake8-string-format==0.3.0